.contact {
  margin: 0 auto;
  max-width: 800px;
}

h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 1em;
  margin-top: 1em;
}

.contact-intro {
  width: 60%;
  min-width: 350px;
  margin: 0 auto;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 20px;
}

.contact-intro > a {
  color: var(--primary-color);
}

.contact-info #submit {
  width: 280px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
}

.contact-info {
  margin-bottom: 2em;
}
.contact-info input,
.contact-info textarea {
  width: 60%;
  min-width: 350px;
  position: relative;
  display: block;
  margin: 1.5em auto;
  padding: 10px;
  border: #c4c4c4 solid 1px;
  border-radius: 4px;
}

.contact-info > textarea {
  height: 250px;
}
