@import url("../../../Variables.css");

.contact {
  margin: 0 auto;
  max-width: 1200px;
}

h2 {
  text-align: center;
  font-size: var(--h2-font-size);
  color: var(--primary-color);
  margin-bottom: 1em;
  margin-top: 1em;
}

.contact-intro {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
}

.contact-intro > a {
  color: var(--primary-color);
}

.contact-info #submit {
  width: 200px;
  height: 56px;
  background-color: var(--primary-color);
  color: var(--white);
}

.contact-info {
  margin-bottom: 2em;
}
.contact-info input,
.contact-info textarea {
  width: 60%;
  min-width: 350px;
  position: relative;
  display: block;
  margin: 1.5em auto;
  padding: 10px;
  border: var(--medium-light-grey) solid 1px;
  border-radius: 4px;
}

.contact-info > textarea {
  height: 250px;
}
