.other-cereals-container {
  margin-top: 2vh;
}

.other-cereal-wrapper {
  transition: all 550ms;
}

.other-cereal {
  max-width: 8vw;
  height: auto;
}

.other-cereal-wrapper:hover {
  transform: translateX(1px) translateY(1px) translateZ(1px) scale(1.08);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.rank-label {
  position: relative;
  top: 30px;
  background-color: var(--cereal-secondary-color);
  color: var(--cereal-primary-color);
  font-family: var(--cereal-body-font-family);
  font-size: var(--cereal-body-font-size);
  padding-top: calc(14px - (var(--cereal-body-font-size) / 2));
  padding-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}

@media (max-width: 425px) {
  .other-cereal {
    max-width: 15vw;
    height: auto;
  }
}
