:root {
  /* Colors */
  --cereal-primary-color: #e4493a;
  --cereal-secondary-color: #fbefda;
  --cereal-gray: #c4c4c4;
  --cereal-dark-gray: #707070;

  /* font */
  --cereal-heading-font-family: "Philosopher", sans-serif;
  --cereal-heading-font-weight: 700;

  --cereal-title-font-size: 78px;
  --cereal-title-line-height: 1.3;

  --cereal-heading-lg-font-size: 44px;
  --cereal-heading-lg-line-height: 1.5;

  --cereal-heading-sm-font-size: 30px;
  --cereal-heading-sm-line-height: 1.3;

  --cereal-body-font-family: "Nunito", sans-serif;

  --cereal-body-font-size: 20px;
  --cereal-body-line-height: 1.4;

  --cereal-body-sm-font-size: 16px;
  --cereal-body-sm-line-height: 1.3;
}
