:root {
  /* Colors */
  --primary-color: #e4493a;
  --secondary-color: #fbefda;

  /* font */
  --heading-font-family: "Philosopher", sans-serif;
  --heading-font-weight: 700;

  --title-font-size: 78px;
  --title-line-height: 1.3;

  --heading-lg-font-size: 44px;
  --heading-lg-line-height: 1.5;

  --heading-sm-font-size: 30px;
  --heading-sm-line-height: 1.3;

  --body-font-family: "Nunito", sans-serif;

  --body-font-size: 20px;
  --body-line-height: 1.4;

  --body-sm-font-size: 16px;
  --body-sm-line-height: 1.3;
}
