@import url("../Variables.css");

.project h1,
.project-reverse h1 {
  color: var(--dark-grey);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

.project a:hover,
.project-reverse a:hover {
  text-decoration: none;
}

.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
}

.project {
  position: relative;
  margin-top: 12vh;
}

.proj-img {
  margin: 0;
  padding: 0;
  width: 790px;
  height: 400px;
  transition: transform 0.5s;
}

.proj-intro {
  max-width: 520px;
  margin-left: -300px;
  position: absolute;
  top: 30%;
  right: 0;
  transition: transform 0.5s;
}

.project:hover .proj-img {
  transform: translateX(10px);
}

.proj-heading {
  transition: transform 0.5s;
}

.project:hover .proj-heading {
  transform: scale(1.05);
}

.project:hover .proj-intro {
  transform: translateX(-10px);
}

.project-reverse {
  position: relative;
  min-height: 400px;
  margin-top: 12vh;
}

.proj-img-reverse {
  margin: 0;
  padding: 0;
  width: 790px;
  height: 400px;
  position: absolute;
  right: 0;
  transition: transform 0.5s;
}

.proj-intro-reverse {
  max-width: 520px;
  position: absolute;
  left: 0;
  z-index: 999;
  top: 30%;
  transition: transform 0.5s;
}

.proj-intro-reverse:hover .proj-heading {
  transform: scale(1.05);
}

.project-reverse:hover .proj-intro-reverse {
  transform: translateX(10px);
}

.project-reverse:hover .proj-img-reverse {
  transform: translateX(-10px);
}

.project img,
.project-reverse img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
  padding: 0;
}

.last {
  margin-bottom: 120px;
}

@media (max-width: 1024px) {
  .project h1,
  .project-reverse h1 {
    font-size: var(--h2-sm-screen-font-size);
  }
  .project,
  .project-reverse {
    position: inherit;
  }

  .proj-img,
  .proj-img-reverse {
    position: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .proj-intro,
  .proj-intro-reverse {
    position: inherit;
    margin-left: 0;
    margin-top: 20px;
    max-width: 100%;
  }
}
