@import url("../../../Variables.css");

p {
  color: var(--dark-grey);
}

h1 {
  color: var(--dark-grey);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}

.section {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.project {
  position: relative;
  margin-top: 12vh;
}

.proj-img {
  margin: 0;
  padding: 0;
  width: 790px;
  height: 400px;
}

.proj-intro {
  max-width: 520px;
  margin-left: -300px;
  position: absolute;
  top: 30%;
  right: 0;
}

.project-reverse {
  position: relative;
  min-height: 400px;
  margin-top: 12vh;
}

.proj-img-reverse {
  margin: 0;
  padding: 0;
  width: 790px;
  height: 400px;
  position: absolute;
  right: 0;
}

.proj-intro-reverse {
  max-width: 520px;
  position: absolute;
  left: 0;
  z-index: 999;
  top: 30%;
}

.project img,
.project-reverse img {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.13);
  padding: 0;
}

.last {
  margin-bottom: 120px;
}

@media (max-width: 1024px) {
  .project,
  .project-reverse {
    position: inherit;
  }

  .proj-img,
  .proj-img-reverse {
    position: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .proj-intro,
  .proj-intro-reverse {
    position: inherit;
    margin-left: 0;
    margin-top: 20px;
    max-width: 100%;
  }
}
