body {
    line-height: 1 !important;
}
.navbar {
   border-bottom: 1px solid #C4C4C4; 
   height: 80px;
   font-family: 'Raleway', sans-serif;
}



.navbar-light .navbar-brand {
    color: #E84D28;
    font-size: 32px;
    font-weight: 600;
}

.navbar-light .navbar-brand:hover{
    color: #E84D28;
}

.navbar-light .navbar-brand:visited {
    color: #E84D28;
}


.navbar-nav {
   flex-direction: row !important;
}

.navbar-nav .inactive {
    color: #707070 ;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav .inactive:hover {
    color: #E84D28 !important;
    text-decoration: underline;
}