@import url("../../container/VizView/Variables.css");

.navbar {
  border-bottom: 1px solid var("--medium-light-grey");
  /* height: 80px; */
  font-family: var(--h2-font-family);
  z-index: 999;
  background-color: white;
}

.navbar-light .navbar-brand {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 600;
}

.navbar-light .navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-light .navbar-brand:visited {
  color: var(--primary-color);
}

.navbar-nav {
  flex-direction: row !important;
}

.navbar-nav .inactive {
  display: inline-block;
  color: var(--medium-dark-grey);
  font-size: var(--body-sm-font-size);
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.navbar-nav .inactive:hover,
.navbar-nav .active {
  color: var(--primary-color) !important;
  /* border-bottom: var(--primary-color) 0.2rem solid; */
}

/*animation */
.navbar-nav .inactive:hover:after {
  transform: scaleX(1);
}

.navbar-nav .inactive:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--primary-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar-nav.mobile {
  display: none;
}

.hamburger.active,
.hamburger.inactive {
  width: 24px;
  margin-right: 0;
}

.hamburger.inactive::after {
  display: none;
}

.nav-dropdown {
  display: none;
}

@media only screen and (max-width: 375px) {
  .navbar-nav.web {
    display: none;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: none;
  }

  .navbar-nav.mobile {
    display: block;
  }

  .nav-dropdown.active {
    display: block;
  }

  .nav-dropdown.inactive {
    display: none;
  }

  .nav-dropdown {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .dropdown-item {
    line-height: 26px;
    width: 100vw;
    font-size: var(--body-sm-font-size);
  }

  .dropdown-item .inactive {
    color: var(--medium-dark-grey);
  }

  .dropdown-item .active {
    color: var(--primary-color);
  }
}
