@import url("../../Variables.css");

.navbar {
  border-bottom: 1px solid var("--medium-light-grey");
  height: 80px;
  font-family: var(--h2-font-family);
  z-index: 999;
}

.navbar-light .navbar-brand {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 600;
}

.navbar-light .navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-light .navbar-brand:visited {
  color: var(--primary-color);
}

.navbar-nav {
  flex-direction: row !important;
}

.navbar-nav .inactive {
  display: inline-block;
  color: var(--medium-dark-grey);
  font-size: var(--body-sm-font-size);
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.navbar-nav .inactive:hover,
.navbar-nav .active {
  color: var(--primary-color) !important;
  /* border-bottom: var(--primary-color) 0.2rem solid; */
}

/*animation */
.navbar-nav .inactive:hover:after {
  transform: scaleX(1);
}

.navbar-nav .inactive:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--primary-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
