.footer {
    width: 100%;
    height: 150px;
    line-height: 60px; 
    background-color: #E84D28;
    color: white;
    font-family: 'Roboto', serif;
    font-size: 18px;
    
  }

 .footer .wrapper {
    margin: 20px auto;
    text-align: center;
 }

 .wrapper div {
   height: 40px;
 }

 .pages a {
   color: white;
   font-weight: 400;
  
 }
