@import url("../../Variables.css");

.footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 150px;
  line-height: 60px;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: "Roboto", serif;
  font-size: 18px;
}

.footer .wrapper {
  margin: 20px auto;
  text-align: center;
}

.wrapper div {
  height: 40px;
}

.pages a {
  color: var(--white);
  font-weight: 400;
}
