@import url("../../Variables.css");

p {
  max-width: 720px;
  margin: 0 auto;
}

.members {
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  display: block;
}

.member .profile {
  max-width: 240px;
  height: auto;
  margin: 0 auto;
}
.member {
  margin-bottom: 48px;
  text-align: center;
}

.mem-name {
  margin-top: 20px;
  font-family: var(--body-font-family);
  font-size: var(--body-sm-font-size);
}

.title {
  font-size: 14px;
  color: var(--primary-color);
  font-family: var(--body-font-family);
}

@media only screen and (min-width: 768px) {
  .members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .member .profile {
    width: 90%;
    margin-right: 0;
  }

  .member {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1200px) {
  .members {
    flex-wrap: nowrap;
  }

  .member:nth-of-type(2n) {
    margin-top: 120px;
  }

  .member {
    width: 20%;
  }
}
