:root {
  /* colors */
  --primary-color: #e84d28;
  --secondary-color-1: #a0c1b8;
  --secondary-color-2: #a0c1b8;
  --secondary-color-3: #a0c1b8;
  --secondary-color-4: #a0c1b8;

  --white: white;
  --dark-grey: #3e3e3e;
  --medium-dark-grey: #707070;
  --medium-light-grey: #c4c4c4;
  --light-grey: #d6d6d6;

  /* Text */
}
