@import url("../../../../Variables.css");

.project-intro {
  max-width: 384px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 80px;
}
.project-intro img {
  max-width: 100%;
  display: block;
}

.project-intro h3 {
  font-size: var(--body-lg-font-size);
  line-height: var(--body-lg-line-height);
  font-family: var(--body-font-family);
  margin-top: 24px;
  margin-bottom: 12px;
}

.project-intro p {
  font-family: var(--body-font-family);
  font-size: var(--body-sm-font-size);
  color: var(--medium-dark-grey);
  line-height: var(--body-sm-line-height);
}
.subscribe p {
  color: var(--medium-dark-grey);
  text-align: center;
}

.sub-input {
  margin-top: 20px;
}

#contact-email-sm {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 14px 24px 14px 24px;
  line-height: var(--body-lg-line-height);
  color: var(--medium-dark-grey);
  border: 2px solid var(--medium-light-grey);
  border-radius: 4px;
}

#subsribe-sm {
  width: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: var(--body-lg-line-height);
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--medium-light-grey);
  border-radius: 4px;
  display: block;
  margin: 20px auto;
}

@media only screen and (min-width: 600px) {
  .sub-input {
    width: 600px;
    margin: 20px auto;
  }

  #contact-email-sm {
    width: 368px;
    margin-right: 20px;
    float: left;
  }

  #subscribe-sm {
    width: 200px;
    float: right;
  }
  .projects-sum {
    display: flex;
  }



}
/* @media only screen and (min-width: 1200px) {
   
    
}
 */
