@import url("../../../../Variables.css");

.subscribe p {
  color: var(--medium-dark-grey);
  text-align: center;
}

.sub-input {
  margin-top: 80px;
}

#contact-email {
  display: block;
  max-width: 368px;

  padding: 14px 32px 14px 32px;
  line-height: var(--body-lg-line-height);
  color: var(--medium-dark-grey);
  border: 2px solid var(--medium-light-grey);
  border-radius: 4px;

  margin: 0 auto;
}

#subsribe {
  width: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: var(--body-lg-line-height);
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--medium-light-grey);
  border-radius: 4px;
  display: block;
  margin: 20px auto;
}

@media only screen and (min-width: 601px) {
  .sub-input {
    max-width: 600px;
    margin: 1.5em auto;
  }

  #contact-email {
    margin-right: 20px;
    float: left;
  }

  #subscribe {
    float: right;
  }
}
