@import url("../../Variables.css");

.whatwedo > p {
  max-width: 720px;
  margin: 0 auto;
  font-size: var(--body-sm-font-size);
}

.works-wrapper {
  margin-top: 2em;
}

.works-wrapper h4 {
  color: var(--dark-grey);
  text-align: center;
  font-weight: 600;
}
.work {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1em;
}
.work p {
  max-width: 360px;
  margin: auto;
}

#hightlight-1 {
  width: 150px;
  height: 24px;
  margin: -22px auto 10px auto;
  background: linear-gradient(
    to right,
    var(--secondary-color-1) 50%,
    transparent 50%
  );
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
}

#hightlight-2 {
  width: 150px;
  height: 24px;
  margin: -22px auto 10px auto;
  background: linear-gradient(
    to right,
    var(--secondary-color-2) 50%,
    transparent 50%
  );
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
}

#hightlight-3 {
  width: 150px;
  height: 24px;
  margin: -22px auto 10px auto;
  background: linear-gradient(
    to right,
    var(--secondary-color-3) 50%,
    transparent 50%
  );
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
}

/* .work-background {
  width: 150px;
  height: 24px;
  margin: -22px auto 10px auto;
  background: linear-gradient(
    to right,
    var(--secondary-color-1) 50%,
    transparent 50%
  );
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
} */

.work-background:hover {
  background-position: left bottom;
}

#hightlight-1.showHighlight {
  background-position: left bottom;
}
#hightlight-2.showHighlight {
  background-position: left bottom;
}
#hightlight-3.showHighlight {
  background-position: left bottom;
}

.work-img {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  margin-top: 1em;
}

@media only screen and (min-width: 800px) {
  .works-wrapper {
    display: flex;
  }

  .works-wrapper .work {
    width: 33.3%;
  }

  .whatwedo > p {
    width: 80%;
  }
}
