@import url("../../../../Variables.css");

.slogan {
  text-align: center;
}

.slogan h1 {
  font-family: var(--title-font-family);
  max-width: 1000px;
  margin: 0 auto;
  font-size: var(--title-font-size);
  color: var(--dark-grey);
  padding-top: 4em;
}

@media only screen and (max-width: 600px) {
  .slogan h1 {
    font-size: 40px;
  }
}
